    <header>
    <div class="black-bar" data-linkcontainer="lt_region" data-tracklinktext="blackBar">
        <nav class="navbar navbar-inverse navbar-fixed-top visible-xs">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                    </button>
                        <h4 style="font-family: 'Proxima Nova', sans-serif">
                            <a href="index.html">SteepMinds</a></h4>
                    <a class="" href="/portal/home.shtml?noredirect=T">
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="https://system.netsuite.com/pages/customerlogin.jsp?country=US&ck=OovFFNJHAj4rYwMf&vid=6iGxAtJHAkQrY8ew&cktime=149458&promocode=&promocodeaction=overwrite&addrcountry=US" data-linktrack="true" data-tracklinktext="mobileLogin" data-linkblocking="true"><i class="fa fa-user"></i> Log In</a></li>
                        <li><a href="/portal/products.shtml" data-linktrack="true" data-tracklinktext="products"><i class="fa fa-laptop"></i> Products</a>
                        </li>
                        <li><a href="/portal/products/industries.shtml" data-linktrack="true" data-tracklinktext="industries"><i class="fa fa-truck"></i> Industries </a></li>
                        <li><a href="/portal/customer-testimonials.shtml" data-linktrack="true" data-tracklinktext="customerTestimonials"><i class="fa fa-comments-o"></i> Customers</a></li>
                        <li><a href="/portal/solutions.shtml" data-linktrack="true" data-tracklinktext="solutions"><i class="fa fa-cogs"></i> Solutions</a></li>
                        <li><a href="/portal/platform.shtml" data-linktrack="true" data-tracklinktext="platform"><i class="fa fa-cloud"></i> Platform</a></li>
                        <li><a href="/portal/services.shtml" data-linktrack="true" data-tracklinktext="services"><i class="fa fa-rocket"></i> Services</a></li>
                        <li><a href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partners"><i class="fa fa-users"></i> Partners</a></li>
                        <li><a href="/portal/aboutus.shtml" data-linktrack="true" data-tracklinktext="aboutUs"><i class="fa fa-building"></i> Company</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <nav class="navbar navbar-inverse hidden-xs">
            <div class="container">
                <div id="navbar2" class="collapse navbar-collapse">
                    <h3 class="customlogo" >
                        <a href="index.html" style="text-decoration: none;color:white;"><img src="../assets/images/LOGO.png" width="200" heigh="100" />&nbsp;<label class="customlogolink"></label></a>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-nav btn-warning hover-outline" href="/team" data-linktrack="true" data-tracklinktext="freeProductTour">Contact Us</a></li>
                    </ul>
                    </h3>
                </div>
                 <!--/.nav-collapse -->
            </div>
        </nav>
    </div>


    <div class="white-bar" data-linkcontainer="lt_region" data-tracklinktext="whiteBar">
        <nav class="navbar navbar-default hidden-xs">
            <div class="container">
                <div id="navbar3" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="products" data-toggle="dropdown" class="dropdown-toggle navunderline">Work</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="productsSection">
                                <li>
                                    <!-- Products Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs nav-stacked" role="tablist" style="height:auto;border:0;">
                                                    <li role="presentation" class="active"><a href="/parking-space-detection">Parking Space Detection</a></li>
                                                    <li role="presentation"><a href="/audi-driving-cup" aria-controls="globalBusinessManagement" role="tab" data-hover="tab" data-href="product_audi.html" data-linktrack="true" data-tracklinktext="globalBusinessManagement">Audi Driving Cup 2016</a></li>
                                                    <li role="presentation"><a href="/point-of-sale" aria-controls="crm" role="tab" data-hover="tab" data-href="/portal/products/crm.shtml" data-linktrack="true" data-tracklinktext="crm">Point of Sale System</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane" id="professionalServicesAutomation">
                                                        <div class="row">
                                                            <div class="col-sm-5 valign border-right">
                                                                <ul class="list-unstyled" data-linkcontainer="lt_subsection" data-tracklinktext="professionalServicesAutomation-subsection">
                                                                    <li><a href="/portal/products/professional-services-automation/open-air.shtml" data-linktrack="true" data-tracklinktext="openAir">OpenAir</a></li>
                                                                    <li><a href="/portal/products/professional-services-automation/srp.shtml" data-linktrack="true" data-tracklinktext="SRP">SRP</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="row" >
                                                                    <div class="col-sm-5 valign">
                                                                        <img class="img-circle img-responsive" src="" alt="" />
                                                                    </div>
                                                                    <div class="col-sm-7 valign">
                                                                        <p><strong>Services Resource Planning</strong></p>
                                                                        <p>Transform your services business with the only comprehensive bid-to-bill solution</p>
                                                                        <p><a class="learnmore" href="" data-linktrack="true" data-tracklinktext="srpLearnMore">LEARN MORE</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="omniChannelCommerce">
                                                        <div class="row">
                                                            <div class="col-sm-5 valign border-right">
                                                                <ul class="list-unstyled" data-linkcontainer="lt_subsection" data-tracklinktext="omniChannelCommerce-subsection">
                                                                    <li>End-to-end B2C and B2B ecommerce platform</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="row" >
                                                                    <div class="col-sm-5 valign">
                                                                        <img class="img-circle img-responsive" src="" alt="" />
                                                                    </div>
                                                                    <div class="col-sm-7 valign">
                                                                        <p><strong>SuiteCommerce</strong></p>
                                                                        <p>Deliver a unified customer experience with a complete and unified omnichannel commerce platform</p>
                                                                        <p><a class="learnmore" href="/portal/common/pdf/brochure-suitecommerce.pdf" data-linktrack="true" data-tracklinktext="suitecommerceLearnMore">LEARN MORE</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="businessIntelligence">
                                                        <div class="row">
                                                            <div class="col-sm-5 valign border-right">
                                                                <p>Real-time analytics and reporting across the enterprise.</p>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="row" >
                                                                    <div class="col-sm-5 valign">
                                                                        <img class="img-circle img-responsive" src="" alt="" />
                                                                    </div>
                                                                    <div class="col-sm-7 valign">
                                                                        <p><strong>Business Intelligence</strong></p>
                                                                        <p>Smart, actionable analytics built directly into your transactional processes</p>
                                                                        <p><a class="learnmore" href="/portal/products/business-intelligence.shtml" data-linktrack="true" data-tracklinktext="businessintelligenceLearnMore">LEARN MORE</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="experience">
                                                        <div class="row">
                                                            <div class="col-sm-5 valign border-right">
                                                                <ul class="list-unstyled" data-linkcontainer="lt_subsection" data-tracklinktext="experience-subsection">
                                                                    <li><a href="/portal/products/experience/role-based-authentication.shtml" data-linktrack="true" data-tracklinktext="rolebasedAuthentication">Role-based Authentication</a></li>
                                                                    <li><a href="/portal/products/experience/user-interface.shtml" data-linktrack="true" data-tracklinktext="userInterface">User Interface</a></li>
                                                                    <li><a href="/portal/products/experience/embedded-analytics.shtml" data-linktrack="true" data-tracklinktext="embeddedAnalytics">Embedded Analytics</a></li>
                                                                    <li><a href="/portal/products/experience/user-customized-dashboards.shtml" data-linktrack="true" data-tracklinktext="userCustomizedDashboards">User Customized Dashboards</a></li>
                                                                    <li><a href="/portal/products/experience/suite-social.shtml" data-linktrack="true" data-tracklinktext="suiteSocial">Suite Social</a></li>
                                                                    <li><a href="/portal/products/experience/mobile.shtml" data-linktrack="true" data-tracklinktext="mobile">Mobile</a></li>
                                                                    <li><a href="/portal/products/experience/document-management.shtml" data-linktrack="true" data-tracklinktext="documentManagement">Document Management</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="row" >
                                                                    <div class="col-sm-5 valign">
                                                                        <img class="img-circle img-responsive" src="" alt="" />
                                                                    </div>
                                                                    <div class="col-sm-7 valign">
                                                                        <p><strong>Business Intelligence</strong></p>
                                                                        <p>Smart, actionable analytics built directly into your transactional processes</p>
                                                                        <p><a class="learnmore" href="/portal/products/business-intelligence.shtml" data-linktrack="true" data-tracklinktext="businessintelligenceLearnMore">LEARN MORE</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Products Dropdown content -->
                                </li>
                            </ul>
                        </li>




                        
                        <!--<li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="industries" data-toggle="dropdown" class="dropdown-toggle industries">Fields</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="industriesSection">
                                <li>
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Machine Learning</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Big Data Analytics</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Web Apps Developments</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="advertisingDigital">Mobile Application Development</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="mediaPublishing">Designing</a><br />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="customers" data-toggle="dropdown" class="dropdown-toggle customers">Customers</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="customersSection">
                                <li>
                                    <!-- Customers Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p><a class="nav-title" href="#" data-linktrack="true" data-tracklinktext="customerTestimonials">Customer Testimonials and Success Stories</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Customers Dropdown content -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <!--<a href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partners" data-toggle="dropdown" class="dropdown-toggle partners">Partners</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="partnersSection">
                                <li>
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p><a class="nav-title" href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partnersTagline">Working with NetSuite</a></p>
                                                <p><a href="/portal/partners/solution-program.shtml" data-linktrack="true" data-tracklinktext="solutionProviderProgram">Solution Provider Program</a><br />
                                                    <a href="/portal/partners/alliance-partner-program.shtml" data-linktrack="true" data-tracklinktext="alliancePartner">Alliance Partner Program</a><br />
                                                    <a href="/portal/developers/overview.shtml" data-linktrack="true" data-tracklinktext="suitecloudDeveloperNetwork">Developers Overview</a><br />
                                                    <a href="/portal/partners/bpo-partner-program.shtml" data-linktrack="true" data-tracklinktext="bpoPartner">BPO Partner Program</a><br />
                                                    <a href="/portal/partners/referral-program.shtml" data-linktrack="true" data-tracklinktext="referralPartner">Referral Partner Program</a><br />
                                                    <a href="/portal/partners/accountant-program.shtml" data-linktrack="true" data-tracklinktext="accountantProgram">Accountant Program</a><br />
                                                    <a href="/portal/products/ecommerce/partners/agency.shtml" data-linktrack="true" data-tracklinktext="commerceAgencyProgram">Commerce Agency Program</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>-->
                        </li>
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="company" data-toggle="dropdown" class="dropdown-toggle company">Company</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="companySection">
                                <li>
                                    <!-- Company Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <a href="/team" data-linktrack="true" data-tracklinktext="boardOfDirectors">Team</a><br />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Company Dropdown content -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    </header>