<header>
    <div class="black-bar" data-linkcontainer="lt_region" data-tracklinktext="blackBar">
        <nav class="navbar navbar-inverse navbar-fixed-top visible-xs">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                    </button>
                    <h4 class="customlogo">
                        <a href="index.html" style="text-decoration: none;color:white;"><img src="../assets/images/LOGO.png" width="200" heigh="100" />&nbsp;<label class="customlogolink"></label></a></h4>
                    <a class="" href="/portal/home.shtml?noredirect=T">
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/parking-space-detection" data-linktrack="true" data-tracklinktext="parkingspacedetection"><i class="fa fa-car"></i> Parking Space Detection</a></li>
                        <li><a href="/audi-driving-cup" data-linktrack="true" data-tracklinktext="audidrivingcup"><i class="fa fa-road"></i> Audi Driving Cup 2016</a></li>
                        <li><a href="/point-of-sale" data-linktrack="true" data-tracklinktext="pointofsale"><i class="fa fa-laptop"></i> Point Of Sale</a></li>
                        <li><a href="/rdf-analyzer" data-linktrack="true" data-tracklinktext="rdfanalyzer"><i class="fa fa-arrows"></i> RDF Analyzer</a></li>
                        <li><a href="/freihack16" data-linktrack="true" data-tracklinktext="achievements"><i class="fa fa-star"></i> Achievements</a></li>
                        <li><a href="/team" data-linktrack="true" data-tracklinktext="aboutus" data-linkblocking="true"><i class="fa fa-user"></i> About Us</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <nav class="navbar navbar-inverse hidden-xs">
            <div class="container">
                <div id="navbar2" class="collapse navbar-collapse">
                    <h3 class="customlogo">
                        <a href="index.html" style="text-decoration: none;color:white;"><img src="../assets/images/LOGO.png" width="200" heigh="100" />&nbsp;<label class="customlogolink"></label></a>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="btn btn-nav btn-warning hover-outline" href="/team" data-linktrack="true" data-tracklinktext="freeProductTour">Contact Us</a></li>
                        </ul>
                    </h3>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>


    <div class="white-bar" data-linkcontainer="lt_region" data-tracklinktext="whiteBar">
        <nav class="navbar navbar-default hidden-xs">
            <div class="container">
                <div id="navbar3" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="company" data-toggle="dropdown" class="dropdown-toggle company">Products</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="companySection">
                                <li>
                                    <!-- Company Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <li role="presentation"><a href="/point-of-sale" aria-controls="crm" role="tab" data-hover="tab"
                                                            data-href="/portal/products/crm.shtml" data-linktrack="true" data-tracklinktext="crm">Point Of Sale</a></li>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Company Dropdown content -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="products" data-toggle="dropdown" class="dropdown-toggle navunderline">Research</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="productsSection">
                                <li>
                                    <!-- Products Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs nav-stacked" role="tablist" style="height:auto;border:0;">
                                                    <li role="presentation" class="active"><a href="/parking-space-detection">Parking Space Detection</a></li>
                                                    <li role="presentation"><a href="/audi-driving-cup" aria-controls="globalBusinessManagement"
                                                            role="tab" data-hover="tab" data-href="product_audi.html" data-linktrack="true"
                                                            data-tracklinktext="globalBusinessManagement">Audi Driving Cup 2016</a></li>
                                                    <li role="presentation"><a href="/point-of-sale" aria-controls="crm" role="tab" data-hover="tab"
                                                            data-href="/portal/products/crm.shtml" data-linktrack="true" data-tracklinktext="crm">Point of Sale System</a></li>
                                                    <li role="presentation"><a href="/rdf-analyzer" aria-controls="crm" role="tab" data-hover="tab"
                                                            data-href="/portal/products/crm.shtml" data-linktrack="true" data-tracklinktext="crm">RDF Analyzer</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Products Dropdown content -->
                                </li>
                            </ul>
                        </li>





                        <!--<li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="industries" data-toggle="dropdown" class="dropdown-toggle industries">Fields</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="industriesSection">
                                <li>
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Machine Learning</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Big Data Analytics</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Web Apps Developments</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="advertisingDigital">Mobile Application Development</a><br />
                                                    <a href="#" data-linktrack="true" data-tracklinktext="mediaPublishing">Designing</a><br />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->
                        <!--<li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="customers" data-toggle="dropdown" class="dropdown-toggle customers">Customers</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="customersSection">
                                <li>
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p><a class="nav-title" href="#" data-linktrack="true" data-tracklinktext="customerTestimonials">Customer Testimonials and Success Stories</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->
                        <li class="dropdown">
                            <!--<a href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partners" data-toggle="dropdown" class="dropdown-toggle partners">Partners</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="partnersSection">
                                <li>
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p><a class="nav-title" href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partnersTagline">Working with NetSuite</a></p>
                                                <p><a href="/portal/partners/solution-program.shtml" data-linktrack="true" data-tracklinktext="solutionProviderProgram">Solution Provider Program</a><br />
                                                    <a href="/portal/partners/alliance-partner-program.shtml" data-linktrack="true" data-tracklinktext="alliancePartner">Alliance Partner Program</a><br />
                                                    <a href="/portal/developers/overview.shtml" data-linktrack="true" data-tracklinktext="suitecloudDeveloperNetwork">Developers Overview</a><br />
                                                    <a href="/portal/partners/bpo-partner-program.shtml" data-linktrack="true" data-tracklinktext="bpoPartner">BPO Partner Program</a><br />
                                                    <a href="/portal/partners/referral-program.shtml" data-linktrack="true" data-tracklinktext="referralPartner">Referral Partner Program</a><br />
                                                    <a href="/portal/partners/accountant-program.shtml" data-linktrack="true" data-tracklinktext="accountantProgram">Accountant Program</a><br />
                                                    <a href="/portal/products/ecommerce/partners/agency.shtml" data-linktrack="true" data-tracklinktext="commerceAgencyProgram">Commerce Agency Program</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>-->
                        </li>
                        <li class="dropdown">
                            <a href="#" data-linktrack="true" data-tracklinktext="company" data-toggle="dropdown" class="dropdown-toggle company">Achievements</a>
                            <ul class="dropdown-menu" data-linkcontainer="lt_section" data-tracklinktext="companySection">
                                <li>
                                    <!-- Company Dropdown content -->
                                    <div class="dropdown-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="/freihack16" data-linktrack="true" data-tracklinktext="boardOfDirectors">Freiburg Hackathon 2016</a><br
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Company Dropdown content -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/team" data-linktrack="true" data-tracklinktext="company" data-toggle="dropdown" class="dropdown-toggle company">About Us</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
</header>