   <footer>
    <div class="footer">
        <div class="container">
            <div class="row hidden-xs" data-linkcontainer="lt_region" data-tracklinktext="footerLinks">
                <div class="col-sm-3">
                    <h5><a href="" data-linktrack="true" data-tracklinktext="products">PRODUCTS</a></h5>
                    <div class="hidden-xs">
                        <ul class="list-unstyled">
                            <li role="presentation" class="active"><a href="#erp" aria-controls="erp" role="tab" data-hover="tab" data-href="/portal/products/erp.shtml" data-linktrack="true" data-tracklinktext="erp">Parking Space Detection</a></li>
                            <li role="presentation"><a href="product_audi.html" aria-controls="globalBusinessManagement" role="tab" data-hover="tab" data-href="/portal/products/global-business-management.shtml" data-linktrack="true" data-tracklinktext="">Audi Driving Cup 2016</a></li>
                            <li role="presentation"><a href="#crm" aria-controls="crm" role="tab" data-hover="tab" data-href="/portal/products/crm.shtml" data-linktrack="true" data-tracklinktext="crm">Point of Sale System</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5><a href="/portal/services.shtml" data-linktrack="true" data-tracklinktext="services">Fields</a></h5>
                    <div class="hidden-xs">
                        <ul class="list-unstyled">
                            <a href="/portal/industries/wholesale.shtml" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Machine Learning</a><br />
                            <a href="/portal/industries/wholesale.shtml" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Big Data Analytics</a><br />
                            <a href="/portal/industries/wholesale.shtml" data-linktrack="true" data-tracklinktext="wholesaleDistribution">Web Apps Developments</a><br />
                            <a href="/portal/industries/advertising.shtml" data-linktrack="true" data-tracklinktext="advertisingDigital">Mobile Application Development</a><br />
                            <a href="/portal/industries/media-publishing.shtml" data-linktrack="true" data-tracklinktext="mediaPublishing">Designing</a><br />
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5><a href="/portal/partners.shtml" data-linktrack="true" data-tracklinktext="partners">Customers</a></h5>
                    <div class="hidden-xs">
                        <ul class="list-unstyled">
                            <li><a href="/portal/partners/solution-program.shtml" data-linktrack="true" data-tracklinktext="solutionProvider">Fashion Point</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5><a href="" data-linktrack="true" data-tracklinktext="aboutUs">COMPANY </a></h5>
                    <div class="hidden-xs">
                        <ul class="list-unstyled">
                            <a href="" data-linktrack="true" data-tracklinktext="boardOfDirectors">Team</a><br />
                            <a href="" target="_blank" data-linktrack="true" data-tracklinktext="investors" data-linkblocking="true">Achievements</a><br />
                            <a href="" data-linktrack="true" data-tracklinktext="careers">Careers</a><br />
                            <a href="" data-linktrack="true" data-tracklinktext="awards">Awards</a><br />
                            <a href="" data-linktrack="true" data-tracklinktext="educationalResources">Educational Resources</a><br /> 
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2" id="follow-us" data-linkcontainer="lt_section" data-tracklinktext="socialFooter">
                    <h5>FOLLOW US </h5>
                    <ul class="list-unstyled">
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="facebook">Facebook</a></li>
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="flickr">Flickr</a></li>
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="instagram">Instagram</a></li>
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="linkedin">LinkedIn</a></li>
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="twitter">Twitter</a></li>
                        <li><a href="" target="_blank" data-linktrack="true" data-tracklinktext="youtube" data-linkblocking="true">YouTube</a></li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>


    
    <div class="copyright" data-linkcontainer="lt_region" data-tracklinktext="copyrightLinks">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mobile-center">
                    <p>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>, SteepMinds and/or its affiliates. All rights reserved. SteepMinds and it's prorduct names are registered trademarks of SteepMinds and/or its affiliates. Other names may be trademarks of their respective owners.</p>
                </div>
                <div class="col-sm-6 text-right mobile-center">
                    <ul class="list-inline">
                        <li><a href="/portal/privacy.shtml" data-linktrack="true" data-tracklinktext="privacy">Privacy Statement</a></li>
                        <li><a href="/portal/terms-of-use.shtml" data-linktrack="true" data-tracklinktext="terms">Website Terms of Use</a></li>
                        <li><a href="/portal/company/trademark.shtml" data-linktrack="true" data-tracklinktext="trademark">Trademark</a></li>
                        <li><a href="/portal/sitemap.shtml" data-linktrack="true" data-tracklinktext="sitemap">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</footer>