<header-template></header-template>



<div class="hero" style="background-image: url('../assets/images/audi.jpg');">
    <div class="inner">
        <div class="container">
            <div class="left">
                <h1>Autonomous Driving Cup</h1>
            </div>
        </div>
        <div class="overlay hidden-xs">
            <div class="inner">
                <div class="right">
                    <p>Making the driving world Autonomous.</p>
                    <p><a href="https://www.youtube.com/watch?v=vpVAawVMVIE" class="btn btn-white btn-outline hover-solid popup-video" data-linktrack="true" data-tracklinktext="viewProductVideo" data-linkblocking="true">Watch video</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intro Section
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="pageTitle">Enable drivers with ease by prodiving them autonomous mode.</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr>
</div>

<!-- One Column Section with menu
================================================== -->
<section>
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        This is an overview of the work done on this project. Read the detailed report <a href="https://www.slideshare.net/slideshow/embed_code/key/vj25VzN9ZiKXEP" target="_blank">here</a>.
                    </p>
                    <p>
                        The Audi Autonomous driving cup took place in May 2016. More than 10 universities participated in the competition where our team was representing Univeristy of Freiburg. For the main event, the teams were given tasks to use data science and machine learning technologies for cars to avoid obstacles, park themselves and perform one special task with the team's own idea. Amanullah Tariq was a member of the team responsible for creating the machine learning algorithms used behind the obstacles avoiding technology in the cars. The event turned out to be a success for University of Freiburg.
                   </p>
                      <div class="row">
                        <div class="col-sm-8">
                            <img src="../assets/images/DecisionArch2.png" />
                        </div>
                    </div>
                    <p>   
                        The project is available as open source <a href="https://github.com/amanullahtariq/DaedalusAADC2016" target="_blank">here.</a>
                        The architecture of the project looks like the following.
                    </p>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <img src="../assets/images/architecture.png" width="800" height="300" />
                        </div>
                    </div>
                   

                    <p>
                        <b>Note:</b> The project was implemented in University of Freiburg as part of a Master project within the University with other team members. 
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<footer-template></footer-template>