<header-template></header-template>

   <!-- Title Section
        ================================================== -->
    <div class="hero background" style="background-image: url('../assets/images/pos-cover2.png')">
        <div class="inner">
            <div class="container">
                <div class="full-left">
                    <h1>Point of Sale</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <hr>
    </div>
    
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Point of Sale is one of our widely used products by more than 10 customers 
                        Point of sale gives our customers the flexibility to manage their daily sales,
                        get monthly and daily reports, manage accounts and furthermore manage different
                        sales mediums including credit cards, cash in hand and others. 
                        
                    </p>
                    <p>
                        The idea was developed by keeping in mind the original shape of a business counter
                        and gives user the maximum ease of use while reducing the learning curve drastically.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/images/point-of-sale.png" width="500" height="350" />
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="../assets/images/point-of-sale2.png" width="500" height="350" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <hr />
    </div>
    
    <hr />
    

<footer-template></footer-template>