<header-template></header-template>

   <!-- Title Section
        ================================================== -->
    <div class="hero background" style="background-image: url('../assets/images/pos-cover2.png')">
        <div class="inner">
            <div class="container">
                <div class="full-left">
                    <h1>SM Butler</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <hr>
    </div>
    
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                        <p>
                            SM Butler is a highly flexible point of sale system created
                            by steepminds in 2015. The product is currently used by more
                            than 10 customers across Germany. The modular software is
                            designed to cater different market sizes ranging from large 
                            scale companies to small shops. The flexibility to use as many 
                            modules as you need gives you the opportunity to start your 
                            business with low investment and high support in your daily 
                            business activites. Currently the following modules are availble 
                            in the product. 
                        </p>
                        <ul>
                            <li>Price lookup</li>
                            <li>Transaction and item discounts</li>
                            <li>Void transaction</li>
                            <li>Special orders</li>
                            <li>Time-limited specials</li>
                            <li>Items on hold</li>
                            <li>Revenue totals</li>
                            <li>Multi-system integration</li>
                            <li>Cash register</li>
                            <li>Barcode scanner</li>
                            <li>Credit card scanner</li>
                            <li>Receipt/label printer</li>
                            <li>Wireless support</li>
                            <li>Security levels</li>
                            <li>Credit card scanner</li>
                        </ul>
                        <h3>
                            <b>SM Butler 2.0</b>
                        </h3>
                        <p>
                             With <b>SM Butler 2.0</b>, we'll be providing our customers 
                             with free information about sales prediction, purchase 
                             predictions, customer sentiments and a lot more. 
                        </p>
                </div>

                
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/images/point-of-sale.png" width="500" height="350" />
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="../assets/images/point-of-sale2.png" width="500" height="350" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <hr />
    </div>
    
    <hr />
    

<footer-template></footer-template>