<header-template></header-template>

   <!-- Title Section
        ================================================== -->
    <section data-linkcontainer="lt_region" data-tracklinktext="region3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="pageTitle">Point Of Sale With TouchUI</h2>
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">
        <hr>
    </div>
    
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                       Pointofsale is a software for retailer to carry out its day to day transaction very easily and effectively. It is developed using .NET, using WPF, C# and Entity Framework (SQL SERVER). UI is designed particulary for touchable screen and easy usage.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Features
                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                       <ul>
                            <li>Easy Usage</li>
                            <li>Dual Screen display (For customer and retailer)</li>
                            <li>Monthly, Daily Reports</li>
                            <li>Easily customizable</li>
                            <li>UI dsign especially for touch screen</li>
                            <li>Security and Privacy</li>
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <img src="../assets/images/opencv.png" />
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <hr />
    </div>
    
    <hr />
    

<footer-template></footer-template>