<header-template></header-template>

    
    <!-- Title Section
        ================================================== -->
    <section data-linkcontainer="lt_region" data-tracklinktext="region3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="pageTitle">Winners Freiburg Hackathon 2016</h2>
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">
        <hr>
    </div>
    
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
The second Freiburg hackathon took place in 2016, the theme of Hackathon was “Newcomers” to the city of Freiburg. SteepMinds took this challenge and came-up with an idea to encourage the people who are already living in Freiburg to help newcomers by rewarding them discounts in shops in Freiburg.
                    </p>
                    <h3><b>Idea</b></h3>
                    <p>
Neubeez was a product focusing on helping the newcomers of a society. The powerful community of Neubeez will be able to help people with different legal and social questions they have about the society or the city itself.

The platform gamify the process of helping the newcomers by encouraging experts to answer questions from the newcomers and in return gain points from it. These points in turn can be usable by the people to buy vouchers and discounts from different brands existing on our platform.

Our vision was to build a community which can help the newcomers of a society to settle down and blend in more easily. We won 1st prize in Freiburg Hackathon 2016.
                    </p>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <img src="../assets/images/neubeez-hackathon-prize.jpg" width="500" height="600"/>
                        </div>
                    </div>
                    <h3><b>Target Market</b></h3>
                    <p>
Our application target both Newcomers and the people already living in the Freiburg so we decided to create a multi-platform application, Since newcomers mostly use smartphones and tablets while people already living here would mostly be using it from there laptop. Our idea can be extended and cover many expects but for the sake of Hackathon we have to specify project goals as:

As we where targetting multi-platform application we decided to work on Nodejs and Cordova in this way we can develop a application which runs on every platform.                    </p>


                    <h3><b>Development Approach</b></h3>
                    <p>
                        The project was then split into modules which were assigned to team members to accomplish within small deadlines. The modules included UX-concept, Database Design, Backend(BE) & Frontend(FE) Development. work integration.
                    </p>
                    <h4 class="move-far-down-from-image"><b>UI Concepts</b></h4>
                    <p>
Working on the UX-concept and on the interface design started at the day of the Hackathon. The aim of the UX-concept was to make an interface that is easy to understand and user friendly. The user should always be guided to the best action, moving through the application in a few simple steps and reaching the desired goal quickly and easily.

To achieve the UX-concept, it was important to start from the user’s point of view by reorganizing and researching online for the same type of applications.

For the design we came up with very cool idea to take as less information from the user as possible, our application main idea was to help user. So for viewing the already posted answers no information is require from the user and take only user email or facebook or twitter account to start posting new question.                    </p>
                    <h4 class="move-far-down-from-image"><b>UI Concepts</b></h4>
                    <p>
                        While the design was being finalized, the developers started on the data layer.
                    </p>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <img src="../assets/images/neubeez-hackathon-db.png" width="500" height="600"/>
                        </div>
                    </div>
                    <h3><b>Features</b></h3>
                    <ol>
                        <li>
A multi-platform application where Neubeez, people coming from different countries, post there day to day queries or problems regarding Freiburg. For that we decide to build a forum where Neubeez can post there questions and people can answer them.

                        </li>
                        <li>
We want to build the community for that we introduces a gamification process so people who are helping Neubeez get points, they can see where they stand in leaderboard.                            
                        </li>
                        <li>
People get points for posting the new question, new answer and also other people can upvote already posted answers.                            
                        </li>
                        <li>
To motivate people we introduces a concept of utilizing the points, people can also use the points they have earn by answering question and use them in the local shops of Freiburg.                            
                        </li>
                    </ol>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <img src="../assets/images/neubeez-hackathon-screenshot.png" width="500" height="600"/>
                        </div>
                    </div>
                    <h4><b>Conclusion</b></h4>
                    <p>
Getting a project done in two days is not an easy task. It requires great effort and teamwork. Building a team consisting of members from different experties is also not easy.

In the end, we completed the project and it was possible to produce a prototype within 48 hours. For this kind of a project, our takeaway is that you have to concentrate on the core functions and use as much external code as possible (Nuget, OpenSource Libraries etc.). Another takeaway was that it is good to have a finished design concept at the beginning of the project. The completed UX-concept helped guide our coding.

Freiburg Hackathon was a good challenge to learn new things and test our skills in a “new project environment”. We all liked the concept of the hackathon. Finally, we believe our idea is a good concept that will be a really nice, working product.

                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <hr>
    </div>
    
    <hr>
    


<footer-template></footer-template>