
<header-template></header-template>


<!-- Carousel Hidden-xs
    ================================================== -->
<div id="carousel" class="carousel slide txt-white hidden-xs" data-ride="carousel" data-linkcontainer="lt_region" data-tracklinktext="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
        
        <div class="item active" style="background-image:url('../assets/images/machine-learning.jpg')">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                We go one step further with our products with <b>Machine Learning</b> 
                                integration  .
                            </h2>
                            <!--<p><a href="" target="_blank" class="btn btn-white btn-outline hover-solid" data-tracklinktext="nSOpens" data-linkblocking="true">Read more</a></p>-->
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <div class="item" style="background-image:url('../assets/images/big-data.jpg')">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>
                                Our <b>Big Data</b> expertise enables us to connect the dots
                                in different ways.
                             </h2>
                            <!--<p><a href="http://www.netsuiteblogs.com/NetSuite-Opens-Nordic-Operations-Expands-in-Benelux-UK-and-Ireland?inid=hp-emeablog" target="_blank" class="btn btn-white btn-outline hover-solid" data-tracklinktext="nSOpens" data-linkblocking="true">Read more</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image:url('../assets/images/team-work.jpg')">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <h2>We believe in team work and ultimate dedication towards our customers and products.</h2>
                        <!--<p><a href="http://www.netsuiteblogs.com/NetSuite-Opens-Nordic-Operations-Expands-in-Benelux-UK-and-Ireland?inid=hp-emeablog" target="_blank" class="btn btn-white btn-outline hover-solid" data-tracklinktext="nSOpens" data-linkblocking="true">Read more</a></p>-->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image:url('../assets/images/mobile-web-apps.png')">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                            <h2>
                                Bringing your ideas to life and providing you with excellent services is our goal.
                            </h2>
                            <!--<p><a href="http://www.netsuiteblogs.com/netsuite-deepens-vertical-industry-commitment-with-software-for-apparel-footwear-and-accessory-retailers-advertising-agencies-and-campus-bookstores?inid=hp-fashionblog" class="btn btn-white btn-outline hover-solid" data-tracklinktext="fashionblogmore">Read more</a></p>-->
                    </div>
                </div>
            </div>
        </div>
        
                       
    </div>
    
    <a class="left carousel-control hidden-xs" href="#carousel" role="button" data-slide="prev">
    <span id="prevArrow" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    
    <a class="right carousel-control hidden-xs" href="#carousel" role="button" data-slide="next">
    <span id="nextArrow" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    
</div>











<!-- Mobile Banner Visible-xs
    ================================================== -->
<!--<section style="padding-top:20%;" class="hero visible-xs" style="background-image:url(''); color:#ffffff" data-linkcontainer="lt_region" data-tracklinktext="mobileBanner">
    
    <div class="inner">
        <div class="container">
            <h1>NETSUITE IS #1<br>
            IN CLOUD ERP
            </h1>
            <p><a class="btn btn-info hover-outline" href="/portal/products.shtml" data-linktrack="true" data-tracklinktext="seeOurProducts">See Our Products</a></p>
        </div>
    </div>
</section>-->

<!-- CTA Section
================================================== -->
<section class="bg-ltrgray" style="padding:5% 5%;" data-linkcontainer="lt_region" data-tracklinktext="ctaGrayBar">
    <div class="container">
        <div class="row sm-txt-center">
            <div class="col-xs-10 col-xs-offset-1 visible-xs">
                <p><img class="img-responsive" src="" alt=""></p>
                <br>
            </div>
            <div class="col-sm-6">
                <h2>Audi Driving Cup</h2>
                <p>Our work on helping Autonomous cars to park, drive and avoid obstacles was showcased in Audi Driving Cup.</p>
                <p class="padding-top-10"><a class="btn btn-info btn-outline hover-solid" href="" data-linktrack="true" data-tracklinktext="productTour" data-linkblocking="true">More products</a>
            </div>
            <div class="col-sm-6 col-sm-offset-0 hidden-xs">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vpVAawVMVIE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>



<!-- Tabs Section
================================================== -->
<section class="cust-tabs" data-linkcontainer="lt_region" data-tracklinktext="custTabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="page-header border-removed">
                    <h3>Our Customers</h3>
                </div>
            <div id="myCarousel" class="row carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                <div class="item active">
                    
                    <ul class="thumbnails">
                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/1.jpg" alt=""></a>
                        </div>

                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/2.jpg" alt=""></a>
                        </div>
                    
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/3.jpg" alt=""></a>
                        </div>
                    
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/4.jpg" alt=""></a>
                        </div>
                    </li>
                    </ul>
                </div><!-- /Slide1 --> 


                <div class="item">
                    <ul class="thumbnails">
                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/5.jpg" alt=""></a>
                        </div>
                    
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/6.jpg" alt=""></a>
                        </div>
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/1.jpg" alt=""></a>
                        </div>
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/2.jpg" alt=""></a>
                        </div>
                    </li>
                    </ul>
                </div><!-- /Slide2 --> 


                <div class="item">
                    <ul class="thumbnails">
                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/3.jpg" alt=""></a>
                        </div>
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/4.jpg" alt=""></a>
                        </div>
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/5.jpg" alt=""></a>
                        </div>
                    </li>

                    <li class="col-sm-3">      
                        <div class="thumbnail">
                        <a href="#"><img src="./assets/images/6.jpg" alt=""></a>
                        </div>
                    </li>
                    </ul>
                </div><!-- /Slide3 --> 
                </div><!-- /Wrapper for slides .carousel-inner -->
                <!-- Control box -->
                <div class="control-box">                            
                <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                </div><!-- /.control-box -->   
            </div><!-- /#myCarousel -->
            </div><!-- /.col-sm-12 -->          
        </div><!-- /.row --> 
    </div>
</section>


<footer-template></footer-template>

