<header-template></header-template>


    <div class="hero background" style="background-image: url('../assets/images/parkingcover.jpg')">
        <div class="inner">
            <div class="container">
                <div class="full-left">
                    <h1>Parking Space Detection</h1>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Title Section
        ================================================== -->
    <!--<section data-linkcontainer="lt_region" data-tracklinktext="region3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="pageTitle">Detecting Parking Space through Computer Vision</h2>
                </div>
            </div>
        </div>
    </section>-->
    
    <div class="container">
        <hr>
    </div>
    
    <!-- Intro Section
        ================================================== -->
    <div class="section" data-linkcontainer="lt_region" data-tracklinktext="region4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Initially to detect the parking spots from a more visible image, we used OpenCV to detect the parking spaces
                        in the image. This gave us the results as follow.
                    </p>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <img src="../assets/images/opencv.png" />
                        </div>
                    </div>
                    <p>
                        Our next goal was to detect the parking spaces from a 3D image in real time. To achieve this, we dug 
                        down into the Point Cloud library used for converting images into cluster of useful points. 
                        The algorithms used in the technology make sure to first convert the images into 2D point clouds which 
                        are further considering the range distances
                        and patterns behind the images. This helped us to identify patterns in the image.
                    </p>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <img src="../assets/images/psd_2d_image.png" />
                        </div>
                    </div>

                    <p>
                        We than moved onto secure 3D point cloud data of the same parking spaces using a robot. 
                        Which gave us the following results.
                    </p>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <img src="../assets/images/psd_3d_image.png" />
                        </div>
                    </div>
                    <p>
                       Than we used 3D point cloud data mapped onto 2D point cloud data to find the parking spots.
                       On top of that we had to use logistic regressio as our Machine learning algorithm to more 
                       clearly identify the parking spaces on the images. This also helped us to identify the 
                       parking spots which are already taken.
                        
                        This gave us the following results.
                    </p>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1">
                            <img src="../assets/images/psd_final.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <hr>
    </div>
    
    <hr>
    


<footer-template></footer-template>