

<header-template></header-template>



<!-- Mission
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
              <!--<h3 class="pageTitle"><a class="text-primary" href="javascript:void(0)" target="_blank" data-linktrack="true" data-tracklinktext="oracleDirector" data-linkblocling="true">Mission</a></h3>
                <hr class="move-down">-->
                <div class="move-down">Steepminds is focused on using the power of Machine Intelligence in its products to help solve complex problems more accurately. We believe, in this era of Data Science we can take one step forward to provide our customers an enhanced experience of the future.
If we keep providing cutting edge products with Machine Intelligence at its core. It won’t be long that we see the digital world transforming into a more personalized experience for every individual.</div>
            </div>
        </div>
    </div>
</section>





<!-- Intro Section
================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <h3 class="pageTitle"><a class="text-primary" href="javascript:void(0)" target="_blank" data-linktrack="true" data-tracklinktext="oracleDirector" data-linkblocling="true">Team</a></h3>
              <hr class="move-down">
            </div>
            <div class="col-sm-3 col-xs-6 margin-top-20">
            	<figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
                    <figcaption>
                        <h4>Muazzam Ali</h4>
                        CTO/ Senior Data Scientist<br>
                        <a href="#muazzam" class="learnmore" data-toggle="modal" data-target="#muazzam">Contact</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-6 margin-top-20">
              <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Amanullah Tariq">
                    <figcaption>
                        <h4>Amanullah Tariq</h4>
                        Partner/ Software Enginner<br>
                        <a href="#aman" class="learnmore" data-toggle="modal" data-target="#aman">Contact</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-6 margin-top-20">
                  <figure>
                      <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member4.jpg" alt="muneeb shahid">
                      <figcaption>
                          <h4>Muneeb Shahid</h4>
                          Partner/ Data Scientist<br>
                          <a href="#muneeb" class="learnmore" data-toggle="modal" data-target="#muneeb">Contact</a>
                      </figcaption>
                  </figure>
            </div>
            <div class="col-sm-3 col-xs-6 margin-top-20">
                <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member5.jpg" alt="mohsin ali">
                    <figcaption>
                        <h4>S. Mohsin Ali</h4>
                        Design Enginner<br>
                        <a href="#mohsin" class="learnmore" data-toggle="modal" data-target="#mohsin">Contact</a>
                    </figcaption>
                </figure>
          </div>
        </div>
    </div>




<!-- Four Columns Section
================================================== -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6 margin-top-20">

      <br>

      <!-- muazzam Learn More Modal
      ================================================== -->
      <div class="modal fade" id="muazzam" tabindex="-1" role="dialog" aria-labelledby="muazzamLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <div class="container">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                  			<div class="col-md-2 text-center">
                          <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="only-bottom-margin">Muazzam Ali</h4>
                              <span class="text-muted">Email:</span> <a class="learnmore" href="mailto:muazzamalii@hotmail.com">muazzamalii@hotmail.com</a><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-body">
              <p>Muazzam has more than 7 years of experience in software development. He started in 2009 when he joined worked on his 
                  first product, an online picture sharing social network that helped him achieve a place in the largest tech incubator
                  of Pakistan called Plan9. Later on Muazzam went on to work for different companies until he arrived in Germany to 
                  pursue his career in data science. While in Germany along with his MSc. Informatik, he was working as a data engineer
                  at PSIORI Gmbh where he worked on the internals of their streamline big data product called PSIORI. Muazzam is currently
                  an active contributor in the big data community with his latest project for visualizing RDF Graphs.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End muazzam Learn More Modal -->



      <!-- Aman Learn More Modal -->
      <div class="col-sm-3 col-xs-6 margin-top-20">
        <div class="modal fade" id="aman" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                  			<div class="col-md-2 text-center">
                          <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Amanullah Tariq">
                        </div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-md-12">
                                <h4 class="only-bottom-margin">Amanullah Tariq</h4>
                                <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:amanullah.tariq@gmail.com">amanullah.tariq@gmail.com</a><br>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <p>Completed masters degree in Computer Science in March 2018, with major in machine learning from Albert Ludwigs Universität Freiburg with 3+ years of experience in software and web applications development. Participated in various competitions and Hackathons, won First Prize in 2 consecutive years in Freiburg Hackathon and also got 6th position in Audi Autonomous Driving Cup in 2016. Highly specialized in Matlab, Python, Tensorflow, R, SQL, Nodejs, Javascript and C++. Currently, he is the head of Machine Learning Research at Steepminds.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Aman Learn More Modal -->
      </div>

      <!-- Muneeb Learn More Modal -->
      <div class="col-sm-3 col-xs-6 margin-top-20">
                     
        <div class="modal fade" id="muneeb" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                  			<div class="col-md-2 text-center">
                            <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member4.jpg" alt="Muneeb Shahid">
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="only-bottom-margin">Muneeb Shahid</h4>
                              <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:muneeb.shahid@hotmail.com">muneeb.shahid@hotmail.com</a><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mohsin Learn More Modal -->
      <div class="col-sm-3 col-xs-6 margin-top-20">
                     
          <div class="modal fade" id="mohsin" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-2 text-center">
                              <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member5.jpg" alt="Moshin Ali">
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-md-12">
                                <h4 class="only-bottom-margin">Mohsin Ali</h4>
                                <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:moniali_90@yahoo.com">moniali_90@yahoo.com</a><br>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer-template></footer-template>