

<header-template></header-template>


<!-- Breadcrumbs 
================================================== -->
<div class="container hidden-sm">
    <ol class="breadcrumb">
        <li><a href="/portal/aboutus.shtml" data-linktrack="true" data-tracklinktext="managementTeamBreadCrumb">Company</a></li>
        <li class="active">Team</li>
    </ol>
</div>




<!-- Intro Section
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<h3 class="pageTitle"><a class="text-primary" href="javascript:void(0)" target="_blank" data-linktrack="true" data-tracklinktext="oracleDirector" data-linkblocling="true">Team</a></h3>
            </div>
        </div>
    </div>
</section>


<div class="container">
	<hr>
</div> <!--end of container-->


<!-- Four Columns Section
================================================== -->
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-3 col-xs-6 margin-top-20">
            	<figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
                    <figcaption>
                        <h4>Muazzam Ali</h4>
                        Data Scientist<br>
                        <a href="#muazzam" class="learnmore" data-toggle="modal" data-target="#muazzam">Contact</a>
                    </figcaption>
                </figure>
<br>

<!-- muazzam Learn More Modal
================================================== -->
<div class="modal fade" id="muazzam" tabindex="-1" role="dialog" aria-labelledby="muazzamLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<div class="container">
  <div class="row">
    <div class="col-md-9">
          <div class="row">
			<div class="col-md-2 text-center">
                <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="only-bottom-margin">Muazzam Ali</h4>
                  <span class="text-muted">Email:</span> <a class="learnmore" href="mailto:muazzamalii@hotmail.com">muazzamalii@hotmail.com</a><br>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

      </div>
      <div class="modal-body">
        <p>Muazzam has more than 7 years of experience in software development. He started in 2009 when he joined worked on his 
            first product, an online picture sharing social network that helped him achieve a place in the largest tech incubator
            of Pakistan called Plan9. Later on Muazzam went on to work for different companies until he arrived in Germany to 
            pursue his career in data science. While in Germany along with his MSc. Informatik, he was working as a data engineer
            at PSIORI Gmbh where he worked on the internals of their streamline big data product called PSIORI. Muazzam is currently
            an active contributor in the big data community with his latest project for visualizing RDF Graphs.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End muazzam Learn More Modal -->
                
            </div>




<div class="col-sm-3 col-xs-6 margin-top-20">
                <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Amanullah Tariq">
                    <figcaption>
                        <h4>Amanullah Tariq</h4>
                        Software And Machine Learing Engineer
                        <a href="#aman" class="learnmore" data-toggle="modal" data-target="#aman">Contact</a>
                    </figcaption>
                </figure>
                
<!-- Aman Learn More Modal
================================================== -->
<div class="modal fade" id="aman" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<div class="container">
  <div class="row">
    <div class="col-md-9">
          <div class="row">
			<div class="col-md-2 text-center">
                <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Muazzam Ali">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="only-bottom-margin">Amanullah Tariq</h4>
                  <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:amanullah.tariq@gmail.com">amanullah.tariq@gmail.com</a><br>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-body">
        <p>After finishing his Bachelors Degree in Computer Science, Amanullah went on to work for the biggest tech companies like Axact and NASDAQ registered NetSol. Technologies.
          Amanullah later on went on to pursue his Masters degree in University of Freiburg in Germany where he focused on topics of Machine learning and Data Science. Currently Amanullah
          is the head of Machine Learning Research at Steepminds.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Aman Learn More Modal -->

</div>






<div class="col-sm-3 col-xs-6 margin-top-20">
      <figure>
          <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member4.jpg" alt="jibran shahid">
          <figcaption>
              <h4>Jibran Shahid</h4>
              Designer 
              <a href="#aman" class="learnmore" data-toggle="modal" data-target="#jibrab">Contact</a>
          </figcaption>
      </figure>
                
<!-- Jibran Learn More Modal
================================================== -->
<div class="modal fade" id="jibrab" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<div class="container">
  <div class="row">
    <div class="col-md-9">
          <div class="row">
      			<div class="col-md-2 text-center">
                <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member4.jpg" alt="Jibran Shahid">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="only-bottom-margin">Jibran Shahid</h4>
                  <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:jibranshahid91@gmail.com">jibranshahid91@gmail.com</a><br>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Jibran Learn More Modal -->

</div>
<div class="col-sm-3 col-xs-6 margin-top-20">
                <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member3.jpg" alt="Junaid Rehman Saeed">
                    <figcaption>
                        <h4>Junaid Rehman Saeed</h4>
                        Business Strategist 
                        <a href="#jun" class="learnmore" data-toggle="modal" data-target="#jun">Contact</a>
                    </figcaption>
                </figure>

<!-- Jun Learn More Modal
================================================== -->
<div class="modal fade" id="jun" tabindex="-1" role="dialog" aria-labelledby="junLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member3.jpg" alt="Muazzam Ali">
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-12">
                          <h4 class="only-bottom-margin">Junaid Rehman Saeed</h4>
                          <span class="text-muted">Email:</span><a  class="learnmore" href="mailto:junaid_88s@hotmail.com">junaid_88s@hotmail.com</a><br>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p>
            After completing his business education from UK. Junaid has been working on different businesses since 8 years now. Junaid started a small company for selling womens clothing
            in Germany. Soon the company has grown up to gain thousands of customers while increasing the sells drastically. The company
            managed to open 4 outlets accross Germany with in the span of 2 years. Junaid is currently heading the business team at SteepMinds
            for up.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Jim Learn More Modal -->
















                                             
            </div>
            
        </div> <!--end of row-->
    
    </div> <!--end of container-->    
    
</section>

<footer-template></footer-template>