

<header-template></header-template>


<!-- Breadcrumbs 
================================================== -->
<div class="container hidden-sm">
    <ol class="breadcrumb">
        <li><a href="/portal/aboutus.shtml" data-linktrack="true" data-tracklinktext="managementTeamBreadCrumb">Company</a></li>
        <li class="active">Management Team</li>
    </ol>
</div>




<!-- Intro Section
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<h3 class="pageTitle"><a class="text-primary" href="javascript:void(0)" target="_blank" data-linktrack="true" data-tracklinktext="oracleDirector" data-linkblocling="true">Team</a></h3>
            </div>
        </div>
    </div>
</section>


<div class="container">
	<hr>
</div> <!--end of container-->


<!-- Four Columns Section
================================================== -->
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-3 col-xs-6 margin-top-20">
            	<figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
                    <figcaption>
                        <h4>Muazzam Ali</h4>
                        Data Scientist<br>
                        <a href="#muazzam" class="learnmore" data-toggle="modal" data-target="#muazzam">Learn More</a>
                    </figcaption>
                </figure>
                
<!-- muazzam Learn More Modal
================================================== -->
<div class="modal fade" id="muazzam" tabindex="-1" role="dialog" aria-labelledby="muazzamLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member1.jpg" alt="Muazzam Ali">
            <h4 class="modal-title" id="zachLabel">Muazzam Ali</h4>
            <p>Data Scientist</p>
      </div>
      <div class="modal-body">
        <p>Muazzam has more than 7 years of experience in software development. He started in 2009 when he joined worked on his 
            first product, an online picture sharing social network that helped him achieve a place in the largest tech incubator
            of Pakistan called Plan9. Later on Muazzam went on to worked for different companies until he arrived in Germany to 
            pursue his career in data science. While in Germany along with his MSc. Informatik, he was working as a data engineer
            at PSIORI Gmbh where he worked on the internals of their streamline big data product called PSIORI. Muazzam is currently
            an active contributor in the big data community with his latest project for visualizing RDF Graphs.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End muazzam Learn More Modal -->
                
            </div>
            <div class="col-sm-3 col-xs-6 margin-top-20">
                <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Junaid Rehman Saeed">
                    <figcaption>
                        <h4>Amanullah Tariq</h4>
                        Machine Learning Expert 
                        <a href="#aman" class="learnmore" data-toggle="modal" data-target="#aman">Learn More</a>
                    </figcaption>
                </figure>
                
<!-- Aman Learn More Modal
================================================== -->
<div class="modal fade" id="aman" tabindex="-1" role="dialog" aria-labelledby="amanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member2.jpg" alt="Amanullah Tariq">
            <h4 class="modal-title" id="amanLabel">Amanullah Tariq</h4>
            <p>Machine Learning Expert</p>
      </div>
      <div class="modal-body">
        <p>Evan Goldberg spent eight years at Oracle Corporation, where he served as a vice president. He was involved in a variety of projects, all focused on making powerful database technology more accessible to users. When he left Oracle, he started mBED Software and built groundbreaking website technology. He founded NetSuite in 1998. Goldberg holds a B.A. Summa Cum Laude in Applied Mathematics from Harvard College.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Aman Learn More Modal -->

            </div>
            
            <div class="col-sm-3 col-xs-6 margin-top-20">
                <figure>
                    <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member3.jpg" alt="Junaid Rehman Saeed">
                    <figcaption>
                        <h4>Junaid Rehman Saeed</h4>
                        Business Strategist 
                        <a href="#jun" class="learnmore" data-toggle="modal" data-target="#jun">Learn More</a>
                    </figcaption>
                </figure>

<!-- Jun Learn More Modal
================================================== -->
<div class="modal fade" id="jun" tabindex="-1" role="dialog" aria-labelledby="junLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img class="img-circle img-responsive" style="max-width:100px;" src="../assets/images/member3.jpg" alt="Jim McGeever">
            <h4 class="modal-title" id="junLabel">Junaid Rehman Saeed</h4>
            <p>President and Chief Operating Officer</p>
      </div>
      <div class="modal-body">
        <p>After completing his business education from UK. Junaid has been working on different businesses since 8 years now. Junaid started a small company for selling womens clothing
            in Germany. Soon the company has grown up to gain thousands of customers while increasing the sells drastically. The company
            managed to open 4 outlets accross Germany with in the span of 2 years. Junaid is currently heading the business team at SteepMinds
            for up
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Jim Learn More Modal -->
                                             
            </div>
            
        </div> <!--end of row-->
        
    </div> <!--end of container-->    
    
</section>

<footer-template></footer-template>